<html>
<head> <meta charset="ISO-8859-1">
<title>bank sign up @form#jobiak.ai</title>
</head>
<body>

<form action="banksignup" method="post" modelAttribute="user">

      Enter CustomerId:<input type="text" name="custId"><br>
     Enter name:<input type="text" name="name"><br>
      Enter City:<input type="text" name="city"><br>
      Enter Pincode:<input type="text" name="pincode"><br>
        Enter email:<input type="text" name="email"><br>
        Enter MobileNum:<input type="text" name="mobile"><br>
        <input type="submit" value="go">
</form>
</body>
</html>